resources/calculateEquipmentTax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Stephen.J.Heichelheim@sprint.com (SPRINT)--><xs:schema targetNamespace="http://integration.sprint.com/interfaces/calculateEquipmentTax/v1/calculateEquipmentTax.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4" xmlns:tns="http://integration.sprint.com/interfaces/calculateEquipmentTax/v1/calculateEquipmentTax.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Date              Author                   Version     Description                                                                                        Rel                          SR#-->
  <!--04/02/2014   Subha Kannan	1.0           Initial Draft     MID 14.2.2 PJ009433 CR 07-->
  <!--04/08/2014   Adon Powell	    1.0           Standardize     MID 14.2.2 PJ009433 CR 07-->
  <!--04/14/2014   Subha Kannan	1.0          Added new element warehouseId in the request MID 14.2.2 PJ009433 CR 07-->
  <!--05/30/2014   Suresh Gundu	1.1          Added new element applyAddress in the billingAddressInfo & shippingAddressInfo structures in the request MID 14.2.3 PJ012070.004-->
  <!--09/13/2014   Subha Kannan	1.2          Added new element taxCalculationOverride flag in the request-->
  <!--03/03/2015 Subha Kannan	    1.3           Modified orderLineInfoList from required to Optional Mid 15.2.2-->
  <!--12/17/2015 Steve Whipple	    1.4           Added fetchMandatoryTaxTypeInd to the request, mandatoryTaxType to the response   MID16.1  PJ020971 Epic 527-->
  <!--12/18/2015 Steve Heichelheim  1.4         Standardize                                                                                        MID16.1  PJ020971 Epic 527-->
  <!---->
  <xs:element name="calculateEquipmentTax" type="tns:CalculateEquipmentTaxRequestType"/>
  <xs:element name="calculateEquipmentTaxResponse" type="tns:CalculateEquipmentTaxResponseType"/>
  <xs:complexType name="CalculateEquipmentTaxRequestType">
    <xs:sequence>
      <xs:element name="applicationDataInfo" type="tns:ApplicationDataInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure containing application data info.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="banInfo" type="tns:BanInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure containing Ban Identifier Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="billingAddressInfo" type="tns:AddressInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure containing the Billing Address information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="salesTypeCode" type="tns:SaleTypeCodeType">
        <xs:annotation>
          <xs:documentation>Indicates Sales type:
P: Private / In Store
R: Regular / Direct Ship</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="warehouseId" type="tns:WarehouseIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates Warehouse Identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dealerCode" type="tns:DealerIdentifierType">
        <xs:annotation>
          <xs:documentation>Indicates Dealer Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shippingAddressInfo" type="tns:AddressInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Structure Contatining Shipping Address Information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shippingFeeInfo" type="tns:ShippingFeeInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates Shipping Fee Details  to calculate Shipping tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="orderLineInfoList" type="tns:OrderLineListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Contains OrderLineInfo elements and calculate equipment tax for each order line elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxCalculationOverrideFlag" type="tns:TaxCalculationOverrideFlagType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>This flag should be used by EAI internal APIs only</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fetchMandatoryTaxTypeInd" type="tns:FetchInformationFlagType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If set to true then mandatoryTaxType will be returned under taxTypeInfo stucture.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CalculateEquipmentTaxResponseType">
    <xs:sequence>
      <xs:element name="equipmentTaxInfo" type="tns:EquipmentTaxInfoType">
        <xs:annotation>
          <xs:documentation>Structurei indicating calculated Equipment Tax Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressInfoType">
    <xs:sequence>
      <xs:element name="addressLine1" type="tns:PostalAddressLine1Type">
        <xs:annotation>
          <xs:documentation>Postal Address Line 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressLine2" type="tns:PostalAddressLine2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Urbanization code is passed in this field for Puerto Rico.  Postal Address Line 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="tns:CityNameType">
        <xs:annotation>
          <xs:documentation>City Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="state" type="tns:UspsStateAbbreviationType">
        <xs:annotation>
          <xs:documentation>PR is passed in this field for Puerto Rico.  USPS State Abbreviation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zipCode" type="tns:UspsPostalCodeType">
        <xs:annotation>
          <xs:documentation>USPS Postal Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zipCodeExtension" type="tns:UspsPostalCodeExtensionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Zip Code Extension</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="country" type="tns:Iso3CharCountryCodeType">
        <xs:annotation>
          <xs:documentation>Country</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applyAddress" type="tns:ApplyAddressCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Flag determining if the address should or not. If the flag is set to ‘I’, the address should be accepted (even if invalid after Code1 validation). Valid Values I, S</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationDataInfoType">
    <xs:sequence>
      <xs:element name="associateId" type="tns:AssociateIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Associate Identifier uniquely identifies a Store Associate in an external application (Radio Shack, RMS+) that is sent to Sprint in the Ensemble Billing system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="storeId" type="tns:RetailStoreIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Retail Store Identifier.

Valid format: seven characters long, all numeric digits except for the third character, which should be a hyphen (NN-NNNN format, for a given numeric value of N).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BanInfoType">
    <xs:choice>
      <xs:element name="ban" type="tns:BillingAccountNumberType">
        <xs:annotation>
          <xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriberId" type="tns:SubscriberIdentifierType">
        <xs:annotation>
          <xs:documentation>Subscriber Identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ptn" type="tns:PhoneNumberType">
        <xs:annotation>
          <xs:documentation>Phone number of any subscriber under the BAN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="equipmentId" type="tns:DeviceSerialNumberType">
        <xs:annotation>
          <xs:documentation>Equipment ID – IMEI or Simcard ID or MSN of any subscriber under the BAN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
        <xs:annotation>
          <xs:documentation>IMSI of any subscriber under the BAN.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="EquipmentTaxInfoType">
    <xs:sequence>
      <xs:element name="orderLineTaxInfoList" type="tns:OrderLineTaxListType">
        <xs:annotation>
          <xs:documentation>Structure containing list of Order Line Info</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shippingFeeTax" type="tns:TaxAmountType">
        <xs:annotation>
          <xs:documentation>Total non-discounted amount of equipment charges.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalSalesTax" type="tns:TaxAmountType">
        <xs:annotation>
          <xs:documentation>Sum of all order lines Sales Taxes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderLineInfoType">
    <xs:sequence>
      <xs:element name="orderLineNumber" type="tns:OrderLineItemNumber">
        <xs:annotation>
          <xs:documentation>Indocates Order Line Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantity" type="tns:OrderLineItemQuantityType">
        <xs:annotation>
          <xs:documentation>Quantity of items ordered</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ibIndicator" type="tns:InstallmentBillingFlagType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates whether the order line is an IB line.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemId" type="tns:EquipmentItemIdentifier">
        <xs:annotation>
          <xs:documentation>The item identifier of the equipment to be ordered should be authorized according to the dealer’s sales channel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineCommitTerm" type="tns:CommitmentPeriodMonthQuantityType">
        <xs:annotation>
          <xs:documentation>Indicates Line commitment term (considered 0 for IB). This should be the maximum of Equipment Commit Term, PP Commit Term, and SOC Commit Term.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="equipmentChargeCode" type="tns:ChargeCodeType">
        <xs:annotation>
          <xs:documentation>Indicates charge code associated with the equipment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="srpAmount" type="tns:ManufacturersSuggestedRetailPriceAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>SRP of the equipment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="netSellingPrice" type="tns:PriceAmountType">
        <xs:annotation>
          <xs:documentation>Net selling price of the equipment (SRP minus discount, if any).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalAmountFinanced" type="tns:LoanAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>indicate  totalAmountFinanced
For an IB order, netSellingPrice minus down-payment. This is field is required of ibIndicator is true.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderLineListType">
    <xs:sequence>
      <xs:element name="orderLineInfo" type="tns:OrderLineInfoType" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Structure indicating orderLine Info.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderLineTaxInfoType">
    <xs:sequence>
      <xs:element name="orderLineItemNumber" type="tns:OrderLineItemNumber">
        <xs:annotation>
          <xs:documentation>The corresponding order Line.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="salesTax" type="tns:TaxAmountType">
        <xs:annotation>
          <xs:documentation>Total tax.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxTypeInfoList" type="tns:TaxTypeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of Taxes applied on Order</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="floridaStampTax" type="tns:StampTaxAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Total non-discounted amount of other charges (for example, shipping).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderLineTaxListType">
    <xs:sequence>
      <xs:element name="OrderLineTaxInfo" type="tns:OrderLineTaxInfoType" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Structure Indicating Order Line tax</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShippingFeeInfoType">
    <xs:sequence>
      <xs:element name="shippingFeeChargeCode" type="tns:EnsembleShippingChargeCodeType">
        <xs:annotation>
          <xs:documentation>Indicates Shipping Fee Charge Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shippingFeeAmount" type="tns:ShippingFeeAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates Shipping Fee Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeInfoType">
    <xs:sequence>
      <xs:element name="taxType" type="tns:TaxTypeCodeType">
        <xs:annotation>
          <xs:documentation>The type of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxAuth" type="tns:TaxAuthorityIdentifierType">
        <xs:annotation>
          <xs:documentation>The authority of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stateCode" type="tns:UspsStateAbbreviationType">
        <xs:annotation>
          <xs:documentation>The state Code of the	tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxAmount" type="tns:TaxAmountType">
        <xs:annotation>
          <xs:documentation>Tax amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="billText" type="tns:TaxDescriptionType">
        <xs:annotation>
          <xs:documentation>The Tax description that appears on the bill</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="billOrder" type="tns:SortOrderType">
        <xs:annotation>
          <xs:documentation>Taxes are sorted and displayed in an ascending order according to the tax	authority and then the bill	order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mandatoryTaxType" type="tns:ChargeTypeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The mandatory tax type is used to identify if the tax type is a tax or surcharge. Y=Tax, N=Surcharge</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeListType">
    <xs:sequence>
      <xs:element name="taxTypeInfo" type="tns:TaxTypeInfoType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Each Tax is placed in	structure</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!---->
  <!--MVM / Simple Types-->
  <xs:simpleType name="AssociateIdentifierType">
    <xs:annotation>
      <xs:documentation>Associate Identifier is the Retail Store Associate Identifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ApplyAddressCodeType">
    <xs:annotation>
      <xs:documentation>Apply Address Code is a Y/N indicator to apply the associated address.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BillingAccountNumberType">
    <xs:annotation>
      <xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommitmentPeriodMonthQuantityType">
    <xs:annotation>
      <xs:documentation>Commitment Period Month Quantity represents the number of months committed to in the Service Agreement (SUBSCRIPTION).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short"/>
  </xs:simpleType>
  <xs:simpleType name="ChargeCodeType">
    <xs:annotation>
      <xs:documentation>Charge Code is a code that represents the charge PIT that was used to rate it (similar concept to feature code in Ensemble)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargeTypeCodeType">
    <xs:annotation>
      <xs:documentation>Charge Type Code identifies a specific type of charge.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CityNameType">
    <xs:annotation>
      <xs:documentation>City Name holds the textual string identifying a City.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DealerIdentifierType">
    <xs:annotation>
      <xs:documentation>Dealer Identifier uniquely identifies the dealer who interacted with the customer on behalf of the enterprise.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeviceSerialNumberType">
    <xs:annotation>
      <xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
      <xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="8"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EquipmentItemIdentifier">
    <xs:annotation>
      <xs:documentation>Equipment Item Identiifer is the item identifier of the equipment to be ordered should be authorized according to the dealer’s sales channel.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="5"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EnsembleShippingChargeCodeType">
    <xs:annotation>
      <xs:documentation>Ensemble Shipping Charge Code is the shipping charge code specific to ensemble.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FetchInformationFlagType">
    <xs:annotation>
      <xs:documentation>Fetch Information Flag is a boolean flag that indicates whether for the api to request the information associated to the request structure.
true - the API will perform request for the associated information
false - the API will NOT request the assoociated information</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
    <xs:annotation>
      <xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InstallmentBillingFlagType">
    <xs:annotation>
      <xs:documentation>Installment Billing Flag Indicates whether the device ordered is eligible for installement billing.
Valid Values:
true - the device ordered is eligible for installement billing
false - the device ordered is NOT eligible for installement billing</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="Iso3CharCountryCodeType">
    <xs:annotation>
      <xs:documentation>An International Standardization Organization (ISO) 3-Character Country Code is the set of three characters assigned by the ISO to identify a soverign nation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LoanAmountType">
    <xs:annotation>
      <xs:documentation>Loan Amount is the monetary amount that is needed for a loan.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="ManufacturersSuggestedRetailPriceAmountType">
    <xs:annotation>
      <xs:documentation>Manufacturer's Suggested Retail Price Amountis the price the manufacturer recommends the retailer sell an item for. The intention was to help to standardize prices among locations. While some stores always sell at, or below, the suggested retail price, others do so only when items are on sale or closeout.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="OrderLineItemNumber">
    <xs:annotation>
      <xs:documentation>Order Line Item Number uniquely identifies an instance of ORDER ITEM within the scope of an ORDER.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrderLineItemQuantityType">
    <xs:annotation>
      <xs:documentation>Order Line Item Quantity holds the total number of units of the specified Product ID ordered in the ORDER ITEM instance.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short"/>
  </xs:simpleType>
  <xs:simpleType name="PhoneNumberType">
    <xs:annotation>
      <xs:documentation>Phone Number holds the concatenation of the NPA Number, NXX Number and Line Number into a single string.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
      <xs:minLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PostalAddressLine1Type">
    <xs:annotation>
      <xs:documentation>Postal Address Line 1 is the first instance of the Postal Address Line is used in the creation of the Postal Address label. The Postal Address label is usually composed of three lines; 1. addresses, 2. street number and street name, 3. City, State, and Zipcode. In the case where PO Box is used the recipient may choose to insert their physical (aka street) address as line two, expanding the complete address to four lines. Providing both allows a sender to ship via the USPS or via a private carrier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PostalAddressLine2Type">
    <xs:annotation>
      <xs:documentation>Postal Address Line 2  is the second instance of the Postal Address Line is used in the creation of the Postal Address label. The Postal Address label is usually composed of three lines; 1. addresses, 2. street number and street name, 3. City, State, and Zipcode. In the case where PO Box is used the recipient may choose to insert their physical (aka street) address as line two, expanding the complete address to four lines. Providing both allows a sender to ship via the USPS or via a private carrier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RetailStoreIdentifier">
    <xs:annotation>
      <xs:documentation>Retail Store Identifer is the store uniquely identifies a retail store.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SaleTypeCodeType">
    <xs:annotation>
      <xs:documentation>Sale Type Code indicates the type of sale.
Valid Values:
P - Private / In Store,
R - Regular / Direct Ship</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
      <xs:enumeration value="P"/>
      <xs:enumeration value="R"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SortOrderType">
    <xs:annotation>
      <xs:documentation>Sort Order contains the requested order for the returned records. Valid values are:
 
0 – Ascending by channel seizure date
1 – Descending by channel seizure date</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubscriberIdentifierType">
    <xs:annotation>
      <xs:documentation>Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
      <xs:minLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StampTaxAmountType">
    <xs:annotation>
      <xs:documentation>Stamp Tax Amount is the tax amount charged for executing/filing certain document types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="TaxAmountType">
    <xs:annotation>
      <xs:documentation>Tax Amount is the monetary amount charged and collected on behalf of a government entity for taxes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="TaxAuthorityIdentifierType">
    <xs:annotation>
      <xs:documentation>Tax Authority Identifier is a sequence number concatenated to VertexGeographicCityCode, VertexGeographicCountyCode and VertexGeographicStateCode to produce the unique identifier of a Taxing jurisdiction.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short"/>
  </xs:simpleType>
  <xs:simpleType name="TaxDescriptionType">
    <xs:annotation>
      <xs:documentation>Tax Description is the normal language description of the tax.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="500"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxTypeCodeType">
    <xs:annotation>
      <xs:documentation>Tax Type Code designates the general type of tax that is assessed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short"/>
  </xs:simpleType>
  <xs:simpleType name="TaxCalculationOverrideFlagType">
    <xs:annotation>
      <xs:documentation>Override tax  calculation  if addressType 'P' or 'R'.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="PriceAmountType">
    <xs:annotation>
      <xs:documentation>Price Amount contains the dollar amount of the price component.  Either Price Amount or Percent will contain a value but not both for a given Price Component Indentifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="ShippingFeeAmountType">
    <xs:annotation>
      <xs:documentation>Shipping Fee Amount is the monitary fee charged to ship an item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="UspsPostalCodeExtensionType">
    <xs:annotation>
      <xs:documentation>USPS Posta Code Extension contains the last 4 characters of the nine digit USPS Postal Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UspsPostalCodeType">
    <xs:annotation>
      <xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
      <xs:documentation>USPS Postal Code contains the first 5 characters of the nine digit USPS Postal Code.</xs:documentation>
      <xs:documentation>alias: Ensemble: ADDR_DATA.ADR_ZIP</xs:documentation>
      <xs:documentation>Ensemble: ADDR_DATA.ADR_ZIP

The first 5 characters or digits of the address zip code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UspsStateAbbreviationType">
    <xs:annotation>
      <xs:documentation>A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WarehouseIdentifierType">
    <xs:annotation>
      <xs:documentation>Indicates Shipping Warehouse Identifier, ex: DM60,DM66</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <!---->
</xs:schema>