resources/updateDeferredTreatment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by LEE VAN AALSBURG (SPRINT)--><xs:schema targetNamespace="http://integration.sprint.com/interfaces/updateDeferredTreatment/v1/updateDeferredTreatment.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/updateDeferredTreatment/v1/updateDeferredTreatment.xsd">
  <!--Date            Author                   Version  Change                                                                                                                          Rel           SR#-->
  <!--09/03/2010  Steve Heichelheim  1.0     Initial Version - applied MVM standards and simple types                                              GBL11.1   PJ003399-->
  <xs:element name="updateDeferredTreatment" type="tns:UpdateDeferredTreatmentType"/>
  <xs:element name="updateDeferredTreatmentResponse" type="tns:UpdateDeferredTreatmentResponseType"/>
  <xs:complexType name="UpdateDeferredTreatmentType">
    <xs:sequence>
      <xs:element name="info" type="tns:SearchCriteriaType">
        <xs:annotation>
          <xs:documentation>search criteria.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="activityCode" type="tns:DeferredTreatmentActivityCodeType">
        <xs:annotation>
          <xs:documentation>DT1: Deferred Treatment Acceptance via IVR for delinquent accounts (ASL and Non-ASL accounts that have a past due amount greater than zero). Memo type created is "DTDI"
DT3: Deferred Treatment Acceptance via IVR for an ASL account that is not delinquent and does not have any past due amount, but has not paid the entire amount. Memo type created is "DTAI"
DT5: Deferred Treatment Acceptance via IVR for a Non-ASL account that is not delinquent and does not have any past due amount, but has not paid the entire amount. Memo type created is "DTNI".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceId" type="tns:ApplicationIdentifierType">
        <xs:annotation>
          <xs:documentation>The calling application responsible for the deferred treatment as set-up in the PAYMENT_SOURCE table</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceType" type="tns:PaymentSourceTypeCodeType">
        <xs:annotation>
          <xs:documentation>Payment source type as set-up in the PAYMENT_SOURCE table
Example of values (not a complete list):
O – Online
D – Direct Debit
L – Lock Box
P – Deposit
V – View Star
A - Recurring Direct Debit Checking
N - Dummy for Partners</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateDeferredTreatmentResponseType">
    <xs:sequence>
      <xs:element name="message" type="tns:ConfirmMessageTextType">
        <xs:annotation>
          <xs:documentation>Returned to indicate successful response</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeviceInfoType">
    <xs:sequence>
      <xs:element name="serialNumber" type="tns:DeviceSerialNumberType">
        <xs:annotation>
          <xs:documentation>Equipment Serial Number is an identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.

Equipment Serial Number is one of the following:
Electronic Serial Number (ESN);
Mobile Equipment Identifier (MEID);
International Mobile Equipment Identifier (IMEI);
Subscriber Identity Module (SIM);
Manufacturer Serial Number (MSN);
Media Address Control ID ( MAC ID);</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serialType" type="tns:DeviceSerialNumberTypeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Equipment Serial Number Type classifies Equipment serial numbers as one of the following:  ESN/MEID, IMEI, SIM, MAC or MSN.
E – ESN (or MEID)
I – IMEI
M – MSN
S – SIM
A – MACID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCriteriaType">
    <xs:choice>
      <xs:element name="ban" type="tns:BillingAccountNumberType">
        <xs:annotation>
          <xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriberId" type="tns:SubscriptionIdentifierType">
        <xs:annotation>
          <xs:documentation>The Subscriber Identifier is a string that uniquely identifies a subscriber.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mdn" type="tns:MobileDirectoryNumberStringType">
        <xs:annotation>
          <xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierStringType">
        <xs:annotation>
          <xs:documentation>Urban Fleet Member Identifier (UFMI) is the combination of the Urban Area Id, Fleet Id, and Member Id representing an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500•600•700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deviceInfo" type="tns:DeviceInfoType">
        <xs:annotation>
          <xs:documentation>The Device structure is used for serial number and/or serial type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ipAddress" type="tns:InternetProtocolAddressStringType">
        <xs:annotation>
          <xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityStringType">
        <xs:annotation>
          <xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nai" type="tns:NetworkAccessIdentifierStringType">
        <xs:annotation>
          <xs:documentation>The Network Access Identifier (e.g. username@domain) where domain should be of the form str1.str2. No validation will be done on input value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hppttId" type="tns:HighPerformancePushToTalkIdentifierStringType">
        <xs:annotation>
          <xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk technology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <!---->
  <!--MVM/Shared Simple Types-->
  <xs:simpleType name="ApplicationIdentifierType">
    <xs:annotation>
      <xs:documentation>Application Identifier uniquely identifies an Application</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BillingAccountNumberType">
    <xs:annotation>
      <xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConfirmMessageTextType">
    <xs:annotation>
      <xs:documentation>Confrim Message Text is a string with a confirmation message returned from the called API.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeviceSerialNumberType">
    <xs:annotation>
      <xs:documentation>Device Serial Number is a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
      <xs:documentation>Device Serial Number a unique number that is embedded electronically by the manufacturer into a wireless communication device that identifies that individual unit.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="8"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeviceSerialNumberTypeCodeType">
    <xs:annotation>
      <xs:documentation>Device Serial Number Type Code designates a device type: IMEI(I), MSN(M), SIM(S), Kit (K), or ESN (E) for CDMA platform.
Valid values:
I - IMEI
M - MSN
S - SIM
K - Kit
E - ESN
A - Airave (macId)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HighPerformancePushToTalkIdentifierStringType">
    <xs:annotation>
      <xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InternationalMobileSubscriberIdentityStringType">
    <xs:annotation>
      <xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.

The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)

An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.

The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InternetProtocolAddressStringType">
    <xs:annotation>
      <xs:documentation>Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MobileDirectoryNumberStringType">
    <xs:annotation>
      <xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.



Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NetworkAccessIdentifierStringType">
    <xs:annotation>
      <xs:documentation>Network Access Identifier holds the concatenation of the a user name and domain.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentSourceTypeCodeType">
    <xs:annotation>
      <xs:documentation>Payment Source Type Code identifies the type of PARTY that submitted the Payment.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubscriptionIdentifierType">
    <xs:annotation>
      <xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
      <xs:minLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UrbanFleetMemberIdentifierStringType">
    <xs:annotation>
      <xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="23"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <!---->
  <!--New Simple Types-->
  <xs:simpleType name="DeferredTreatmentActivityCodeType">
    <xs:annotation>
      <xs:documentation>Deferred Treatment Activity Code designates an activity related to delaying the Collection or Account Spending Limit Treatment for customers through the IVR.
Valid Values Include:
DT1 - Deferred Treatment Acceptance via IVR for delinquent accounts (ASL and Non-ASL accounts that have a past due amount greater than zero),
DT3 - Deferred Treatment Acceptance via IVR for an ASL account that is not delinquent and does not have any past due amount, but has not paid the entire amount,
DT5 - Deferred Treatment Acceptance via IVR for a Non-ASL account that is not delinquent and does not have any past due amount, but has not paid the entire amount,
DTD - Deferred Treatment Decline via IVR only...</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <!---->
</xs:schema>